.wds-main-wrapper {
    width: 100%;
    height: calc(100% - 60px);
}

.wds-main__title {
    height: 40px;
    font-size: 22px;
    text-align: center;
}

.wds-main__header {
    height: 400px;
    background-color: #FBEEFC;
}

.wds-main__key-visual {
    height: 320px;
    text-align: center;
}

.wds-main__main_title {
    z-index: 100;
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    left: 150px;
    top: 350px;
    color: #FBEEFC;
}

.wds-main__body {
    width: 100%;
    height: calc(100% - 400px);
}

.wds-main__body-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #EEFAFD;
}
