.wds-header-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: lightsteelblue;
}

.wds-header-link-btn {
    width: 200px;
    height: 60px;
    text-align: center;
}