.wds-user__body-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.wds-user__title {
    height: 40px;
    font-size: 22px;
    text-align: center;
}

.wds-user__body {
    width: 100%;
    height: calc(100% - 400px);
}

.wds-user-wrapper {
    width: 100%;
    height: calc(100% - 60px);
}

table.wds_user_table {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    margin: 20px 10px;
}
table.wds_user_table th {
    width: 155px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #ce4869 ;
}
table.wds_user_table td {
    width: 155px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #eee;
}

body:before{
    content:'';
    height:100%;
    display:inline-block;
    vertical-align:middle;
}
button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:40px;
    font-size:1.2em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
button:hover{
    background:#fff;
    color:#1AAB8A;
}
button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
}
button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
}

.user_input {position: relative; width: 300px; height: 40px; margin: 15px}

.user_input label {
    position: absolute;
    top: 1px;  /* input 요소의 border-top 설정값 만큼 */
    left: 1px;  /* input 요소의 border-left 설정값 만큼 */
    padding: .8em .5em;  /* input 요소의 padding 값 만큼 */
    color: #999;
    cursor: text;
}

.user_input input[type="text"] {
    width: 100%;  /* 원하는 너비 설정 */
    height: auto;  /* 높이값 초기화 */
    line-height : normal;  /* line-height 초기화 */
    padding: .8em .5em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
    border: 1px solid #999;
    border-radius: 0;  /* iSO 둥근모서리 제거 */
    outline-style: none;  /* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
}
