.wds-image-wrapper {
}

.wds-image__title {
    height: 40px;
    font-size: 22px;
    text-align: center;
}

.wds-image__header {
    height: 320px;
}

.wds-image__body {
    height: 320px;
}

.upload_input input[type="file"] {

}