.wds-image-wrapper {
}

.wds-image__title {
    height: 40px;
    font-size: 22px;
    text-align: center;
}

.wds-image__header {
    height: 320px;
}

.wds-image__body {
    height: 320px;
}

.wds-image__upload_contents {
    resize: none; /* 사용자 임의 사이즈 변경 불가 */
    width: 100%;
    height: 50px;
}